nav {
    background-color: rgb(209, 49, 49);
  }
  #brand {
    color:white;
    font-size: 32px;
    font-weight: 700;
    margin-left: 13px;
  }
main {
  background-color: yellow;
  margin: 38px;
}
div {
    margin: 20px;
    height: 100px;
}