nav {
    background-color: rgb(209, 49, 49);
  }
  #brand {
    color:white;
    font-size: 32px;
    font-weight: 700;
    margin-left: 13px;
  }
main {
  background-color: rgba(184, 177, 168, 0.281);
  margin: 38px;
}
#contenedor {
  padding: 40px;
}